<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Doctor List</title>
</head>
<body>
<div align="center">
    <h1>Doctor List</h1>
    <a href="/newDoctor">Add New Doctor</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Specialization</th>
                <th>Appointments</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="doctor : ${listDoctors}">
                <td th:text="${doctor.id}">Patient ID</td>
                <td th:text="${doctor.name}">Name</td>
                <td th:text="${doctor.specialization}">Specialization</td>
                <td th:text="${doctor.appointments}">appointments</td>
                <td>
                    <a th:href="@{'/editDoctor/' + ${doctor.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/deleteDoctor/' + ${doctor.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>