<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Patients list</title>
</head>
<body>
<div align="center">
    <h1>Patient List</h1>
    <a href="/new">Add new patient</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>city</th>
                <th>country</th>
                <th>sickness</th>
                <th>medical history</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="patient : ${listPatients}">
                <td th:text="${patient.id}">Patient ID</td>
                <td th:text="${patient.name}">Name</td>
                 <td th:text="${patient.age}">Age</td>
                  <td th:text="${patient.city}">City</td>
                   <td th:text="${patient.country}">Country</td>
                    <td th:text="${patient.sickness}">Sickness</td>
                     <td th:text="${patient.medical_history}">Medical History</td>
                <td>
                    <a th:href="@{'/edit/' + ${patient.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${patient.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>