<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Product List</h1>
    <a href="/new">Create New Product</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Specialization</th>
                <th>Appointments</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="doctor : ${listDoctors}">
                <td th:text="${doctor.id}">Patient ID</td>
                <td th:text="${doctor.name}">Name</td>
                <td th:text="${doctor.specialization}">Specialization</td>
                <td th:text="${doctor.appointments}">appointments</td>
<!--                 <td> -->
<!--                     <a th:href="/@{'/edit/' + ${patient.id}}">Edit</a> -->
<!--                     &nbsp;&nbsp;&nbsp; -->
<!--                     <a th:href="/@{'/delete/' + ${patient.id}}">Delete</a> -->
<!--                 </td> -->
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>